@import "bootstrap";

body {
  font-family: "Georgia", sans-serif;
  background: #F0F0F0;
}

.blade {
  padding: .75em 1em;
  margin: 1em;

  background: #fff;
}

button {
  .fa {
    margin-right: .5em;
  }
}

.time {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
}
